<html lang="en">

<head>
    <!-- 
    Made by Liejan Lawrsel M. Luengo with love, the purpose of this is for basic/simple school projects (ICT/Computer Programming).
    Check my other projects or portfolio at https://liejan.netlify.app/ 
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <meta name="author" content="Liejan Lawrsel Maurin Luengo">
    <link rel="apple-touch-icon" sizes="180x180" href="https://liejan.netlify.app/Images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://liejan.netlify.app/Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://liejan.netlify.app/Images/favicon-16x16.png">
    <link rel="icon" href="https://liejan.netlify.app/Images/favicon.ico">
</head>

<body style="font-family: system-ui;">
    <h1>Welcome to my Profile</h1>
    <h2>Name: Liejan Lawrsel Maurin Luengo</h2>
    <hr>
    <p>Age: <b>15</b></p>
    <hr>
    <p>Address: <i>Sensitive Information</i></p>
    <hr>
    <p>Status: <u>Sensitive Information</u></p>
    <hr>
    <p>Birthday: <b>September 18, 2010</b></p>
    <hr>
    <p>Birthplace: Somewhere in <b>Cebu</b></p>
    <h3>5 things I do after waking up</h3>
    <ol>
        <li>Pray</li>
        <li>Drink Water</li>
        <li>Brush Teeth</li>
        <li>Take a shower</li>
        <li>Eat breakfast</li>
    </ol>
    <h3>Favorite Foods</h3>
    <ul>
        <li>Lasagna</li>
        <li>Toasted ham and cheese sandwich</li>
        <li>Burger</li>
        <li>French Fries</li>
        <li>Pizza</li>
    </ul>
    <h3>My top 5 Favorite Movies</h3>
    <ol reversed>
        <li>Masha and the Bear</li>
        <li>Rush Hour</li>
        <li>Bad Boys</li>
        <li>The Karate Kid & Cobra Kai</li>
        <li>The Middle</li>
    </ol>
    <h3>Grade Level</h3>
        <dd>- Sensitive Information</dd>
    <h3>Hobbies</h3>
        <dd>- I enjoy coding and developing softwares in my free time, I love trying new things and improving my overall skills as a Software and Web Developer.</dd>
    <h3>Favorite Subject</h3>
        <dd>- ICT/Computer Programming, because it's my passion and I want to pursue it in the future.</dd>
    <h3>Dream Carrier</h3>
        <dd>- I want to become a professional Software Engineer and a Web Developer in the future.</dd>
</body>

</html>