<!doctype html>
<html lang="ru">

<head>
    <!-- 
    Made by Liejan Lawrsel M. Luengo with love, the purpose of this is for basic/simple school projects (ICT/Computer Programming).
    Check my other projects or portfolio at https://liejan.netlify.app/ 
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empty Lyrics</title>
    <meta name="author" content="Liejan Lawrsel Maurin Luengo">
    <link rel="apple-touch-icon" sizes="180x180" href="https://liejan.netlify.app/Images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://liejan.netlify.app/Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://liejan.netlify.app/Images/favicon-16x16.png">
    <link rel="icon" href="https://liejan.netlify.app/Images/favicon.ico">
</head>

<body style="font-family: system-ui;">
    <center>
        <img src="https://placehold.co/320" , height=320px, width=320px, style="border-radius: 12px;">
        <h1>Song Name</h1>
        <h2>Song by Artist</h2>
        <p>
            First line<br>
            Second line<br>
        </p>

        <p>
            First line<br>
            Second line<br>
            Third line<br>
            Fourth line<br>
            Fifth line<br>
            Sixth line<br>
            Seventh line<br>
            Eighth line<br>
            Ninth line<br>
            Tenth line<br>
        </p>

        <p>
            First line<br>
            Second line<br>
            Third line<br>
            Fourth line<br>
        </p>

        <p>
            First line<br>
            Second line<br>
            Third line<br>
            Fourth line<br>
            Fifth line<br>
        </p>
        <p>
            First line<br>
            Second line<br>
            Third line<br>
            Fourth line<br>
        </p>

        <a href="https://www.youtube.com/">Watch the Music Video</a>
    </center>
</body>

</html>