<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 
    Made by Liejan Lawrsel M. Luengo with love, the purpose of this is for basic/simple school projects (ICT/Computer Programming).
    Check my other projects or portfolio at https://liejan.netlify.app/ 
    -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Class Schedule (Table, School Activity)</title>
    <meta name="author" content="Liejan Lawrsel Maurin Luengo">
    <link rel="apple-touch-icon" sizes="180x180" href="https://liejan.netlify.app/Images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://liejan.netlify.app/Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://liejan.netlify.app/Images/favicon-16x16.png">
    <link rel="icon" href="https://liejan.netlify.app/Images/favicon.ico">
</head>

<body style="font-family: system-ui;">

    <table border="1" align="center" cellpadding="10" cellspacing="5">
        <thead>
            <tr>
                <th rowspan="2">Time</th>
                <th colspan="3">My Class Schedule</th>
            </tr>
            <tr>
                <th>Day</th>
                <th>Subject</th>
                <th>Teacher</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12:00 - 12:50 PM</td>
                <td>MTH</td>
                <td>Kasaysayan</td>
                <td>Ms. ---</td>
            </tr>

            <tr>
                <td rowspan="2">12:50 - 1:40 PM</td>
                <td>MWF</td>
                <td>Life and Career Skills</td>
                <td>Ms. ---</td>
            </tr>

            <tr>
                <td>MWF</td>
                <td>General Math</td>
                <td>Ms. ---</td>
            </tr>

            <tr>
                <td rowspan="2">1:40 - 2:30 PM</td>
                <td>MTH</td>
                <td>Mabisang Komunikasyon</td>
                <td>Mr. ---</td>
            </tr>

            <tr>
                <td>TTHF</td>
                <td>Effective Communication</td>
                <td>Mr. ---</td>
            </tr>

            <tr>
                <td colspan="4" align="center">Break</td>
            </tr>

            <tr>
                <td>2:50 - 3:40 PM</td>
                <td>MTH</td>
                <td>General Science</td>
                <td>Ms. ---</td>
            </tr>

            <tr>
                <td>3:40 - 5:20 PM</td>
                <td>MTH</td>
                <td>ICT/Computer Programming</td>
                <td>Ms. ---</td>
            </tr>

        </tbody>
    </table>
</body>
</html>